input {
    keyboard {
        xkb {
            layout "hu"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
    }

    mouse {
        accel-speed 0.0
    }
}

output "eDP-1" {
    mode "1920x1080@165"
    scale 1.0
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 12
    center-focused-column "never"

    default-column-width { proportion 0.66667; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
    }

    border {
        width 2
        active-gradient from="#b4befe" to="#cba6f7" angle=45
        inactive-color "#45475a"
    }

    struts {
        left 0
        right 0 
        top 0
        bottom 0
    }
}

prefer-no-csd

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match is-active=false
    opacity 0.8
}

spawn-at-startup "udiskie" "--smart-tray"
spawn-at-startup "swaybg" "-i" "/home/shina/.config/niri/bg.png"
spawn-at-startup "waybar"
spawn-at-startup "mako"

binds {
    Mod+Return { spawn "alacritty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+S { spawn "bash" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute         { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
}